/* Notes and Table of Contents Section

Notes:
This document contains the style rules for the lightbox on the page called Specials
            ---------------
Table of Contents
1.Project Details
2.Main Styles
3.Media Queries
*/

/*   ******************************
1.      Project Details
Author: Hong-Sam Le, Jane La Motte, Paulo da Silva Pamplona
Project: The Blend Superfood Bar Website Re-Design
Version: 1.1
Last Update: 1/24/2017
*/

/*  *****************************
2.      Main styles 
*********************************   */
.btn {
    opacity: .9;
    text-decoration: none;
    display: inline-block;
}
.btn:hover {
    opacity: 1;
}
.modalBox {
    position: absolute;
    top:10%;
    width:100%;
    height: 70%;
    z-index: 5;
    background-color: #5c4c4d;
    display: none;
    padding: 0;
    margin: 0;
}
#BowlPopUp2 {
    background-color:#4d5d71;
}
#BowlPopUp4 {
    background-color:#fbb348;
}

article.modalBox figure {
    height: 100%;
    width: 50%;
    float:left;
    background-color: yellow;
    overflow: hidden;

}

article.modalBox figure img {
    width: 100%;

}

article.modalBox figcaption {
    margin-top: -2em;
    font-size:2em;
    font-family: 'Delius Unicase', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    width: 50%;
    top: 20%;
    position: absolute;
    text-align:center;
}


article.modalBox > p {
    position: absolute;
    font-family: 'Delius Unicase', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    float: right;
    max-width: 38%;
    height: 50%;
    right: 0;
    text-align: left;
    padding: 2% 10% 0 2%;
    overflow: hidden;
}
.nutritionFacts, .ingredients {
 position: absolute;
    font-family: 'Delius Unicase', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    float: right;
    padding-left: 2%;
    max-width: 24%;
    right: 24%;
    bottom: 0;
    text-align: left;
}
.ingredients {
    right: 0;
}

.close {
    position: absolute;
    top:.8em;
    right: .75em;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: block;
    font-weight: bold;
    color:#5c4c4d;
    text-align: center;
    line-height: 1;  
    z-index: 999;
}
#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(0,0,0);
    z-index: 1;
    display: none;
}


/*  *****************************
3.      Media Queries 
*********************************   */


@media screen and (min-width:410px) {
    
    .btn {
    opacity: .9;
    text-decoration: none;
    display: inline-block;
}
.btn:hover {
    opacity: 1;
}
.modalBox {
    position: absolute;
    top:10%;
    width:100%;
    height: 70%;
    z-index: 5;
    background-color: #5c4c4d;
    display: none;
    padding: 0;
    margin: 0;
}
#BowlPopUp2 {
    background-color:#4d5d71;
}
#BowlPopUp4 {
    background-color:#fbb348;
}

article.modalBox figure {
    height: 100%;
    width: 50%;
    float:left;
    background-color: yellow;
    overflow: hidden;

}

article.modalBox figure img {
    width: 100%;

}

article.modalBox figcaption {
    margin-top: -2em;
    font-size:2em;
    font-family: 'Delius Unicase', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    width: 50%;
    top: 20%;
    position: absolute;
    text-align:center;
}


article.modalBox > p {
    position: absolute;
    font-family: 'Delius Unicase', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    float: right;
    max-width: 38%;
    height: 50%;
    right: 0;
    text-align: left;
    padding: 2% 10% 0 2%;
    overflow: hidden;
}
.nutritionFacts, .ingredients {
 position: absolute;
    font-family: 'Delius Unicase', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    float: right;
    padding-left: 2%;
    max-width: 24%;
    right: 24%;
    bottom: 0;
    text-align: left;
}
.ingredients {
    right: 0;
}

.close {
    position: absolute;
    top:.8em;
    right: .75em;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: block;
    font-weight: bold;
    color:#5c4c4d;
    text-align: center;
    line-height: 1;  
    z-index: 999;
}
#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(0,0,0);
    z-index: 1;
    display: none;
}
    
    

}
