// colors palette

$color-black: #2C343B;
$color-blue: #1A8B9D;
$color-green: #B2D430;
$color-white: #FFF5F5;

// fonts 

$font-1: 'Maven Pro', sans-serif;
$font-2: 'Maven Pro', sans-serif;
$font-3: sans-serif;
$font-4: 'Droid Serif', serif;

//$font-2: 'IntroInline', sans-serif;


// header height 

$header-S: 50px;
$header-M: 70px;

// intro height

$intro-height-S: 360px;
$intro-height-M: 500px;
$intro-height-L: 680px;